<h1 class="mt-4">Mijn doelen</h1>

<form [formGroup]="weightForm" id="weightForm" (submit)="save()">
	<div class="mb-3">
		<label class="form-label" for="inputTargetWeight">Wat is je streefgewicht?</label>
		<div class="input-group" [ngClass]="{'is-invalid':isInvalid(weightForm, 'targetWeight')}">
			<input class="form-control" id="inputTargetWeight" type="number" formControlName="targetWeight" />
			<span class="input-group-text">Kg</span>
		</div>
		<div class="invalid-feedback">Vul een gewicht in hele kilogrammen in. (Minimaal 10)</div>
	</div>
	
	<button class="btn btn-primary" type="submit" form="weightForm" [disabled]="!weightForm.valid"><i class="fas fa-check"></i> Opslaan</button>
</form>
